.header {
  color: #fff;
  padding: 16px 0;
  width: 100%;
}

.header .logo {
  position: relative;
  width: 80px;
  height: 48px;
  text-indent: 101%;
  overflow: hidden;
  background-image: url('../images/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.header .logo a {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}

.header-wrapper {
  justify-content: space-between;
  align-items: center;
}

.header .nav {
  font-size: 20px;
}

.header .nav-item a {
  padding: 8px 32px;
}

@media (max-width: 767px) {
  .header {
    padding: 0;
  }

  .header .logo {
    margin: 16px 12px;
  }

  .header-wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .header .nav {
    flex-wrap: wrap;
    width: 100%;
  }

  .header .nav-item {
    text-align: center;
    padding: 0;
    width: 50%;
  }

  .header .nav-item a {
    width: 100%;
    padding: 12px 0;
    border: solid 1px white;
  }
}
