/* banner */
.banner {
  background-image: url('../images/banner.png');
  background-size: cover;
  color: $secondary;
  height: calc(100vh - 80px);
}

.banner-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.banner-subTitle {
  font-size: 36px;
}

.banner-title {
  font-size: 64px;
  font-weight: 700;
}

.banner-button {
  color: #fff;
  background-color: $primary;
  padding: 6px 12px;
}

.banner-button a {
  font-size: 20px;
}

@media (max-width: 992px) {
  .banner {
      background-image: url('../images/banner-sm.png');
  }
}

@media (max-width: 767px) {
  .banner-title {
      font-size: 24px;
  }

  .banner-subTitle {
      font-size: 16px;
  }
}

/* feature */
.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.feature-card {
  width: calc(25% - 18px);
}

.card-header {
  color: $secondary;
  margin-bottom: 8px;
}

.card-header .card-title {
  font-size: 24px;
  font-weight: 700;
}

.card-header .card-img {
  width: 83px;
  height: 83px;
  vertical-align: middle;
  margin-bottom: 16px;
}

@media (max-width: 992px) {
  .feature-list .feature-card {
      width: calc(50% - 12px);
  }
}

@media (max-width: 576px) {
  .feature-list {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
  }

  .feature-list .feature-card {
      width: 100%;
  }
}

/* classic */
.classic-list {
  display: flex;
  gap: 24px;
}

.classic-list .classic-title {
  color: $primary;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
}

@media ( max-width: 992px ) {
  .classic-list {
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  .classic-list .classic-item {
      max-width: 348px;
  }
}

.partner {
  background-image: url('../images/index-bg.png');
  background-size: cover;
}

.partner-list {
  display: flex;
}

.partner-list .partner-item {
  width: 50%;
}

.partner-list .partner-title {
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  color: $primary;
}

@media (max-width: 992px) {
  .partner-list {
      flex-wrap: wrap;
  }

  .partner-list .partner-item {
      width: 100%;
  }

  .partner-list .partner-item:not(:last-child) {
      margin-top: 24px;
  }
}

/* recommend */
.recommend-list {
  display: flex;
  gap: 24px;
}

.recommend-list .recommend-item {
  box-shadow: 0px 2px 6px #00000029;
  border: 1px solid #DEE2E6;
  border-radius: 4px;
  opacity: 1;
  display: flex;
  flex-direction: column;

}

.recommend-list .recommend-des {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.recommend-list .recommend-itemBody {
  margin-bottom: 72px;
}

.recommend-list .recommend-time {
  color: #707070;
  font-size: 14px;
  margin-top: auto;
}

@media (max-width: 992px) {
  .recommend .recommend-list {
      flex-wrap: wrap;
  }

  .recommend .recommend-list .recommend-item {
      width: calc(50% - 12px);
  }
}

@media (max-width: 576px) {
  .recommend .recommend-list .recommend-item {
      width: 100%;
  }
}

/* contact */
.contact-form {
  max-width: 636px;
  margin: 0 auto;
}

.contact-des {
  margin-bottom: 24px;
  font-size: 20px;
}

.contact-form-input {
  display: block;
  width: 100%;
  background-color: $bg-light;
  outline: 0;
  border: solid 1px #000;
  padding: 6px 12px;
  font-size: 16px;
}

.contact-form-input::placeholder {
  color: #000000;
  opacity: 0.2;
}

.contact-form-label {
  display: block;
  margin-bottom: 8px;
}

.contact-area textarea {
  resize: none;
}

.contact-area li:not(:last-child) {
  margin-bottom: 16px;
}

.contact-agree {
  margin-bottom: 48px;
}

.contact-agree input {
  display: none;
}

.contact-agree label {
  position: relative;
  padding-left: 20px;
  display: flex;
  align-items: flex-start;
}

.contact-area .contact-agree label::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  border: solid 2px #000;
  background: $bg-light;
  border-radius: 2px;
}

.contact-area .contact-agree label::after {
  content: "";
  display: none;
  position: absolute;
  left: 5px;
  top: 3px;
  width: 6px;
  height: 12px;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
  transform: rotate(45deg);
}

.contact-area .contact-agree input:checked ~ label::before {
  background: #000;
}

.contact-area .contact-agree input:checked ~ label::after {
  display: block;
}

.contact-form-btn {
  display: block;
  width: 100%;
  max-width: 416px;
  background: $primary;
  color: white;
  border: none;
  padding: 16px 0px;
  margin: 0 auto;
  font-size: 16px;
}
