.store-detail {
    display: flex;
    gap: 24px;
  }

  .store-detail .card-body {
    border: solid 1px #00000020;
  }

  .store-detail .card-title {
    font-size: 24px;
    border: 1px solid #00000020;
    padding: 8px 24px;
  }

  .store-detail .card-des {
    padding: 20px 24px;
  }

  .store-detail .card-des li {
    display: flex;
    align-items: flex-start;
    font-size: 20px;
  }

  .store-detail .card-des .material-symbols-outlined {
    margin-right: 8px;
    font-size: 24px;
  }

  .store-detail .card-des li:not(:last-child) {
    margin-bottom: 8px;
  }

  @media ( max-width: 767px ) {
    .store-detail {
      flex-direction: column;
    }

    .store-detailItem {
      display: flex;
      flex-direction: row;
      gap: 24px;
    }

    .store-detailImg {
      width: calc(50% - 12px);
    }

    .card-img {
      height: 100%;
    }

    .card-body {
      width: calc(50% - 12px);
    }
    
  }

  @media ( max-width: 576px ) {
    .store-detailItem {
      display: block;
    }

    .store-detailImg {
      width: 100%;
    }

    .card-body {
      width: 100%;
    }
  }